<div class="row">
    <div class="col-md-12 text-center">
        <video id="anacona16-sonata-media-webcam-video" autoplay="autoplay" width="480" height="360"></video>
        <canvas id="anacona16-sonata-media-webcam-canvas" style="display: none;" width="480" height="360"> </canvas>
    </div>
    <div class="col-md-12" style="margin-top: 10px;">
        <button type="button" id="anacona16-sonata-media-webcam-snap" class="btn btn-default btn-lg"> <i class="fa fa-camera"></i> {{ 'form.button.capture'|trans({}, 'SonataMediaWebcamProviderBundle') }}</button>
        <button type="button" id="anacona16-sonata-media-webcam-reset" class="btn btn-default btn-lg"> <i class="fa fa-camera"></i> {{ 'form.button.capture_again'|trans({}, 'SonataMediaWebcamProviderBundle') }}</button>
    </div>
</div>
