<div class="row">
    <div class="col-xs-12">
        <video id="anacona16-sonata-media-webcam-camera" style="display: inline-block; width: 100%;">{{ 'sonata.media.provider.webcam.placeholder'|trans({}, 'SonataMediaWebcamProviderBundle') }}</video>
        <canvas id="anacona16-sonata-media-webcam-camera-canvas" style="display: none; visibility: hidden;">
        </canvas>

        <hr>

        <button type="button" id="anacona16-sonata-media-webcam-take-snapshots" class="btn btn-default"><i class="fa fa-camera"></i> {{ 'form.button.capture'|trans({}, 'SonataMediaWebcamProviderBundle') }}</button>
    </div>

    <div class="col-xs-12" style="margin-top: 10px;">
        <div id="anacona16-sonata-media-webcam-snapshots" style="padding: 3px; border: 1px solid #aaa;">
            <img id="anacona16-sonata-media-webcam-snapshots-photo" alt="{{ 'sonata.media.provider.default_image_alt'|trans({}, 'SonataMediaWebcamProviderBundle') }}" width="100%">
        </div>
    </div>
</div>
