#anacona16-sonata-media-webcam-take-snapshots, #anacona16-sonata-media-webcam-show-stream {
    display: none;
}

#anacona16-sonata-media-webcam-camera {
    display: inline-block;
    background-color: #eee;
    width: 100%;
    height: 480px;
}

#anacona16-sonata-media-webcam-camera .anacona16-sonata-media-webcam-placeholder {
    padding: 0.5em;
}

#anacona16-sonata-media-webcam-snapshots {
    height: 150px;
    margin: 0.5em 0;
    padding: 3px;
    border: 1px solid #aaa;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#anacona16-sonata-media-webcam-snapshots canvas, #anacona16-sonata-media-webcam-snapshots img {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    height: 100%;
    margin-left: 3px;
    border: 3px solid transparent;
}

#anacona16-sonata-media-webcam-snapshots .anacona16-sonata-media-webcam-selected {
    border: 3px solid #000;
}
